@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url('https://fonts.cdnfonts.com/css/mona-sans');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

.container {
    max-width: 1300px;
    align-items: center;
    margin: auto;
}

.ham{
  display: none;
}

@media (max-width: 870px) {
  .ham{
  max-width: 1300px;
  margin: auto;
  display: flex;
  position: relative;
  top:30px;
  right: 50px;
  justify-content: end;
}
}


.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transition: all 0.5s ease;
    border-bottom-left-radius: 25px;  
    border-bottom-right-radius: 25px; 
}

.content {
    max-width: 1300px;
    margin: auto;
    position: relative;
    z-index: 2;
    color: white;
    padding: 100px 20px 20px 20px; 
}

nav {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;    
    top: 0; 
    width: 90%;
    padding: 10px 20px;
    z-index: 3; 
    left: 0;
    box-sizing: border-box;
}

.nav-links{
    background-color: #9a9a9a66;
    backdrop-filter: blur(6px);
    padding: 15px 25px;
    border-radius:15px;
}

@media (max-width: 870px) {
  nav {
    display: none;
  }

.nav-links{
    display: none;
}
.nav-links a {
    display: none;
}




.learn {
  display:none;
}


}

.nav-links a {
    margin-right: 20px;
    color: #ffffff;
    text-decoration: none;
}

.nav-links a:hover {
    margin-right: 20px;
    color: #7e7e7e;
    text-decoration: none;
}

.login{
    background-color: #9a9a9a66;
    backdrop-filter: blur(6px);
    padding: 15px 30px;
    border-radius:15px;
    text-decoration:none;
    color: #ffffff;
    margin-right: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #ddd;
}

.about-section {
    max-width: 1300px;
    margin: auto;
    height: 100vh;
    padding: 20px;
    text-align: center;
}

.mid{
  display: flex;
}

.learn {
  text-decoration:none;
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 2px solid #e8e8e8;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  justify-content: center;
  align-items: center;
}

.learn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.learn:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.learn:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #4b9fff;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.learn:hover {
  color: #ffffff;
  border: 1px solid #4b9fff;
}

.learn:hover:before {
  top: -35%;
  background-color: #4b9fff;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.learn:hover:after {
  top: -45%;
  background-color: #4b9fff;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.bg{
  margin-top: 100px ;
  padding-top: 250px;
  background-image: url(../assets/18bg.jpg);
  /* background-color: #090909; */
  height: 2000px;
  background-position:top;
  background-size:cover;
  
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(405px, 1fr));
  grid-gap: 20px;
  align-items: stretch;

}

.grid > article {
  border: none;
  box-shadow: none;
}

.overcard {
  display: block;
  width: 410px;
  height: 400px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.13) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card {
  position: relative;
  width: 300px;
  height: auto;
  background: transparent;
  overflow: hidden;
  display: flex;
}

.content-card {

  h3{
    padding-left: 25px;
    text-align: left;
  }

}

.algimg{
    width: 90%;
  }

.heap{
  width: 70%;
}

.circles,
.browser {
  height: 30px;
  display: flex;
  align-items: center;
}

.circles {
  width: 20%;
  gap: 8px;
  padding: 0 10px;
}

.c {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: inset 2px 2px 5px rgba(235, 235, 235, 0.356);
}

.c:first-child {
  background-color: red;
}

.c:nth-child(2) {
  background-color: rgb(255, 216, 42);
}

.c:last-child {
  background-color: green;
}

.browser {
  width: 80%;
  padding: 5px;
  display: flex;
  gap: 10px;
}

.chevrons {
  display: flex;
}

.search-bar {
  position: relative;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 1px;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: rgb(88, 88, 88);
  box-shadow: inset 2px 2px 2px #05050525;
}

.search-bar svg {
  position: absolute;
  left: 10px;
}

.decode-text {
  font-family: "Share Tech Mono", monospace;
  width: 100%;
  font-size: 60px;
  font-weight: 1000;
  text-align: center;
  margin: 8% 0 7% 0;
  
}

@media (max-width: 1200px) {
  .decode-text {
    font-size: 50px;
  }
}

@media (max-width: 900px) {
  .decode-text {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .decode-text {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .decode-text {
    font-size: 24px;
  }
}

.space {
  display: inline-block;
  width: 10px;
}
.text-animation {
  display: inline-block;
  position: relative;
  color: transparent;
  text-transform: uppercase;
  &:before {
    content: "";
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #0e182d;
    width: 0;
    height: 1.2em;
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
  }

  &.state-1 {
    &:before {
      width: 1px;
    }
  }
  &.state-2 {
    &:before {
      width: 0.9em;
    }
  }
  &.state-3 {
    color: rgb(32, 32, 32);
    &:before {
      width: 0;
    }
  }
}

.hero-text{
  font-family: 'Mona-Sans', sans-serif;
  color: #000000;                                                
}

@media (max-width: 768px) {
            nav {
                flex-direction: column;
                align-items: flex-start;
            }

            .nav-links {
                margin-top: 10px;
            }

            .nav-links a {
                display: block;
                margin-bottom: 10px;
            }

            .hero-text h1 {
                font-size: 40px !important;
                width: 100% !important;
            }

            .hero-text p {
                font-size: 30px !important;
                width: 100% !important;
            }

            .grid {
                grid-template-columns: 1fr;
            }

            .overcard {
                height: auto;
            }
        }

        @media (max-width: 869px) {
        .grid {
          grid-template-columns: 1fr;
          width: 100%;
          max-width: 400px;
        }
      }

